<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New So Delivery'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="soDeliveries index large-9 medium-8 columns content">
    <h3><?= __('So Deliveries') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('date_signed') ?></th>
                <th><?= $this->Paginator->sort('delivery_num') ?></th>
                <th><?= $this->Paginator->sort('name') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($soDeliveries as $soDelivery): ?>
            <tr>
                <td><?= $this->Number->format($soDelivery->id) ?></td>
                <td><?= h($soDelivery->date_signed) ?></td>
                <td><?= h($soDelivery->delivery_num) ?></td>
                <td><?= h($soDelivery->name) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $soDelivery->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $soDelivery->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $soDelivery->id], ['confirm' => __('Are you sure you want to delete # {0}?', $soDelivery->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
